.aside-body {
  // .aside-body__comments
  &__comments {
  }
}
.comments {
  margin-top: rem(20);
  // .comments__item
  &__item {
    display: flex;
    flex-direction: column;
    gap: rem(20);
    &:not(:last-child) {
      margin-bottom: rem(20);
    }
    padding: rem(20);
    border-radius: rem(8);
    background-color: rgba(255, 255, 255, 0.12);
  }
  // .comments__header
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: rem(12);
    border-bottom: rem(1) solid $mainColor;
  }
  // .comments__author
  &__author {
    display: grid;
    text-align: center;
    justify-items: center;
    gap: rem(10);
    min-width: rem(110);
    img {
      overflow: hidden;
      border-radius: 50%;
      object-fit: cover;
      width: rem(50);
      height: rem(50);
    }
    h3 {
      font-size: rem(14);
    }
  }
  // .comments__information
  &__information {
    
    display: flex;
    flex-direction: column;
    gap: rem(20)
  }
  // .comments__date
  &__date {
    flex: 1 1 auto;
    @include adaptiveValue("font-size", 18, 14);
    align-self: end;
  }
  // .comments__delete
  &__delete {
    align-self: end;
    transition: all 0.3s;
    @media (any-hover: hover){
      &:hover{
        transform: translate(0px,rem(-2));
        path {
          color: rgb(196, 7, 7);
        }
      }
    }
  }
  // .comments__text
  &__text {
    p {
      text-align: justify;
      line-height: math.div(20, 14);
    }
  }
}
