.aside-body {
  // .aside-body__list
  &__list {
    position: relative;
    color: $mainColor;
    font-size: rem(18);
    padding-left: rem(12);
    &:not(:last-child) {
      margin-bottom: rem(10);
    }
    &::before {
      content: '';
      position: absolute;
      width: rem(5);
      height: rem(5);
      top: 50%;
      left: 0;
      border-radius: 50%;
      background-color: $mainColor;
      transform: translate(0px, -50%);
    }
  }
  // .aside-body__item
  &__item {
  }
}
