.post-item {
  // .post-item__body
  &__body {
    overflow: hidden;
    border-radius: rem(8);
    transition: box-shadow 0.4s ease 0s;
    box-shadow: 0px 0px 6px 4px rgba(0, 0, 0, 0.2);
    a {
      display: grid;
      grid-template-rows: auto 1fr;
      min-height: 100%;
    }
    @media (any-hover: hover) {
      &:hover {
        box-shadow: 0px 0px 6px 4px rgba(157, 157, 157, 0.3);
        .post-item__image {
          img {
            transform: scale(1.02);
          }
        }
      }
    }
  }
  // .post-item__image
  &__image {
    position: relative;
    padding-bottom: 64%;
    overflow: hidden;
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
      will-change: transform;
      transform-origin: center center;
      transition: transform 0.8s ease 0s;
    }

    &.none {
      @media (min-width: em(861)) {
        background: -webkit-linear-gradient(to top, rgb(43, 39, 74) 0%, rgb(0, 0, 0) 100%);
        background: linear-gradient(to top, rgb(43, 39, 74) 0%, rgb(0, 0, 0) 100%);
      }
      @media (max-width: em(862)) {
        padding-bottom: 0;
      }
    }
  }
  // .post-item__content
  &__content {
    display: flex;
    flex-direction: column;
    padding: rem(16);
  }
  // .post-item__info
  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &:not(:last-child) {
      margin-bottom: rem(30);
    }
  }
  // .post-item__author
  &__author {
    display: flex;
    align-items: center;
    gap: rem(8);
    position: relative;
    img {
      overflow: hidden;
      border-radius: 50%;
      object-fit: cover;
      @include adaptiveValue('width', 30, 20);
      @include adaptiveValue('height', 30, 20);
    }
    h3 {
    }
  }
  // .post-item__date
  &__date {
    @include adaptiveValue('font-size', 18, 16);
  }
  // .post-item__title
  &__title {
    flex: 1 1 auto;
    @include adaptiveValue('font-size', 24, 20);
    line-height: math.div(26, 24);
    text-transform: uppercase;
    color: $whiteColor;
    &:not(:last-child) {
      margin-bottom: rem(16);
    }
  }
  // .post-item__text
  &__text {
    flex: 0 1 auto;
    p {
      text-align: justify;
      line-height: math.div(24, 18);
      display: -webkit-box;
      text-overflow: ellipsis;
      overflow: hidden;
      width: 100%;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
    }
    &:not(:last-child) {
      margin-bottom: rem(12);
    }
  }
  // .post-item__actions
  &__actions {
    display: flex;
    align-items: center;
    justify-items: center;
    gap: rem(40);
  }
  // .post-item__view
  &__view {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: rem(8);
  }
  // .post-item__comment
  &__comments {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: rem(8);
  }
  // .post-item__popular
  &__popular {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: rem(8);
  }
}
