.мain {
  @include adaptiveValue('margin-top', 100, 80);
  @include adaptiveValue('margin-bottom', 60, 30);

  // .мain__container
  &__container {
    display: flex;
    @include adaptiveValue('gap',80, 40);
    @media (max-width:$pc){
      flex-direction: column-reverse;
    }
    @media (max-width: $mobileSmall){
      .мain__post-items {
        margin-left: rem(-15);
        margin-right: rem(-15);
      }
      .post-item__body{
        border-radius: 0;
      }
    }
  }
  // .мain__post-items
  &__post-items {
    flex: 0 1 80%;
    display: grid;
    @include adaptiveValue('gap',40, 20);
    @media (min-width: $mobile) {
      grid-template-columns: repeat(auto-fit, minmax(rem(400), 1fr));

    }
  }
  &__aside {
    flex: 0 1 20%;
  }
}
.aside-body {
  // .aside-body__title

  &__title {
    font-size: rem(22);
    color: $whiteColor;
    text-transform: uppercase;
    margin-bottom: rem(20);
  }
  &__items {

  }
  &__form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: rem(20);
    
    input {
      width: 100%;
      padding: rem(6) rem(20);
      border-radius: rem(8);
      border: 1px solid $whiteColor;
      &:focus{
        border: 1px solid rgb(32, 164, 45);
      }
    }
  }
  &__button {

  }
}
