.post-page {
  @include adaptiveValue('margin-top', 100, 80);
  @include adaptiveValue('margin-bottom', 60, 30);
  // .post-page__container
  &__container {
    @media (max-width: $mobileSmall) {
      .body-post__item {
        border-radius: 0;
        margin-left: rem(-15);
        margin-right: rem(-15);
      }
      .aside-body__comments {
        margin-left: rem(-15);
        margin-right: rem(-15);
      }
      .comments__item {
        border-radius: 0;
      }
    }
  }
  // .post-page__button
  &__button {
    @include adaptiveValue('margin-bottom', 60, 20);
  }
  // .post-page__body
  &__body {
    display: grid;
    align-items: start;

    row-gap: rem(40);
    @media (min-width: $tablet) {
      grid-template-columns: 1fr 36%;
      column-gap: rem(60);
    }
    @media (max-width: $tablet) {
      width: 100%;
    }
  }
}
.body-post {
  // .body-post__item
  &__item {
    display: grid;
    overflow: hidden;
    border-radius: rem(8);
    box-shadow: 0px 0px 6px 4px rgba(0, 0, 0, 0.2);
  }
  &__image {
    position: relative;
    padding-bottom: 64%;
    overflow: hidden;
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
      will-change: transform;
      transform-origin: center center;
      transition: transform 0.8s ease 0s;
    }
    &.none {
      padding-bottom: 0;
    }
  }
  // .body-post__content
  &__content {

    padding: rem(16);
  }
  // .body-post__info
  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: rem(8);
    &:not(:last-child) {
      margin-bottom: rem(30);
    }
  }
  // .body-post__author
  &__author {
    display: flex;
    align-items: center;
    gap: rem(8);
    img {
      @include adaptiveValue('width', 30, 20);
      @include adaptiveValue('height', 30, 20);
    }
    h3 {
    }
  }
  // .body-post__date
  &__date {
    @include adaptiveValue('font-size', 18, 16);
  }
  // .body-post__title
  &__title {
    flex: 1 1 auto;
    @include adaptiveValue('font-size', 24, 20);
    line-height: math.div(26, 24);
    text-transform: uppercase;
    color: $whiteColor;
    &:not(:last-child) {
      margin-bottom: rem(16);
    }
  }
  // .body-post__text
  &__text {
    text-align: justify;
    p {
      padding-bottom: rem(1);
      line-height: math.div(24, 18);
      &:not(:last-child) {
        margin-bottom: rem(16);
      }
    }
    &:not(:last-child) {
      margin-bottom: rem(12);
    }
  }
  // .body-post__actions
  &__actions {
  }
  // .body-post__aside
  &__aside {
  }
}
