.button {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: rem(2) rem(6);
  border: rem(1) solid $mainColor;
  border-radius: rem(8);
  transition: all 0.3s ease 0s;
  min-width: rem(100);
  min-height: rem(32);
  @media (any-hover: hover) {
    &:hover {
      color: $whiteColor;
      border: rem(1) solid $whiteColor;
      background-color: rgba(198, 198, 198, 0.4);
    }
  }
  &_green {
    @media (any-hover: hover) {
      &:hover {
        color: $whiteColor;
        border: rem(1) solid rgba(34, 255, 0, 0.4);
        background-color: rgba(34, 255, 0, 0.4);
      }
    }
  }
  &_red {
    background-color: rgba(255, 0, 0, 0.2);
    @media (any-hover: hover) {
      &:hover {
        color: $whiteColor;
        border: rem(1) solid rgba(255, 0, 0, 0.4);
        background-color: rgba(255, 0, 0, 0.4);
      }
    }
  }
}
//========================================================================================================================================================
.form-page {
  @include adaptiveValue('margin-top', 100, 80);
  @include adaptiveValue('margin-bottom', 60, 30);
  // .form-page__form

  &__form {
    position: relative;
    display: grid;
    justify-content: space-around;
    gap: rem(20);
  }

  // .form-page__title

  &__title {
    text-align: center;
    text-transform: uppercase;
    @include adaptiveValue('font-size', 28, 20);
  }

  // .form-page__item

  &__item {
    position: relative;
    width: rem(310);
    display: flex;
    flex-direction: column;
    &:nth-of-type(1) {
      align-items: center;
    }
    button {
      font-size: rem(14);
      position: absolute;
      width: rem(50);
      height: rem(38);
      bottom: 0;
      right: rem(8);
    }
  }

  // .form-page__image

  &__image {
    position: relative;
    width: rem(100);
    height: rem(100);
    
    img {
      transition: all 0.3s ease 0s;
      overflow: hidden;
      border-radius: 50%;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
    }
    &::before {
      transition: all 0.3s ease 0s;
      display: flex;
      align-items: center;
      text-align: center;
      position: absolute;
      content: 'Add Avatar';
      width: 100%;
      height: 100%;
      top: rem(0);
      left: rem(0);
      z-index: 1;
      color: rgb(117, 117, 117);
    }
    @media (any-hover: hover){
      &:hover{
        img{
          border-radius: 50%;
          box-shadow: rem(0) rem(0) rem(10) rgba(255, 255, 255, 0.8);
        }
        &::before{
          color: rgb(77, 77, 77);
        }
      }
    }
  }
  // .form-page__add-img
  &__add-img {
    cursor: pointer;
    position: absolute;
    width: rem(100);
    height: rem(100);
    top: 0;
    left: 0;
    border-radius: 50%;
    z-index: 2;
  }

  // .form-page__lable

  &__lable {
    font-size: rem(16);
    display: flex;
    gap: rem(8);
    margin-bottom: rem(10);
    span {
      color: rgb(195, 29, 29);
      font-size: rem(14);
    }
  }

  // .form-page__input
  &__input {
    position: relative;
    width: 100%;
    color: $mainColor;
    padding: rem(4) rem(8);
    border-radius: rem(8);
    background-color: rgba(198, 198, 198, 0.4);
    border: rem(1) solid rgba(198, 198, 198, 0.4);
    transition: all 0.3s ease 0s;
    &:focus {
      border: rem(1) solid $whiteColor;
    }
    &._error {
      background-color: rgba(255, 0, 0, 0.05);
      border: rem(1) solid rgb(255, 0, 0);
    }
  }
  // .form-page__error

  &__error {
  }

  // .form-page__actions

  &__actions {
    display: flex;
    justify-content: space-between;
    gap: rem(20);
  }

  // .form-page__button

  &__button {
  }
}
//========================================================================================================================================================
.actions-post {
  display: flex;
  justify-content: space-between;
  @include adaptiveValue("gap", 40, 20);
  // .actions-post__row
  &__row {
    display: flex;
    align-items: center;
    justify-items: center;
    @include adaptiveValue("gap", 30, 20);
  }
  // .actions-post__view
  &__view {
    display: flex;
    align-items: center;
    justify-items: center;
    gap: rem(8);
  }
  // .actions-post__comments
  &__comments {
    display: flex;
    align-items: center;
    justify-items: center;
    gap: rem(8);
  }
  // .actions-post__popular
  &__popular {
    display: flex;
    align-items: center;
    justify-items: center;
    gap: rem(8);
    svg {
      transition: all 0.3s ease 0s;
    }
    
    @media (any-hover: hover) {
      &:hover {
        svg{
          transform: translate(0px, -2px);
        }
        
      }
    }
  }
  // .actions-post__edit
  &__edit {
    transition: all 0.3s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        color: rgba(34, 255, 0, 0.4);
        transform: translate(0px, -2px);
      }
    }
  }
  // .actions-post__delete
  &__delete {
    transition: all 0.3s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        color: rgba(255, 0, 0, 0.6);
        transform: translate(0px, -2px);
      }
    }
  }
}
